body {
    margin: 0px;
    font-family: "Segoe UI", Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: #006eff;
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #0085d1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    gap: 20px;
}

.content-hero {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.kotak{
    display: grid;
    background: #0085d1;
    color: white;
    border-radius: 8px;
    padding: 1rem 4rem;
    place-items: center;
}

.kotak h4 {
    margin: 0;
}
