body {
    margin: 0px;
    font-family: "Segoe UI", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: #001f4e;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: #4998ff;
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    list-style: none;
	margin: 0;
	padding: 0;
	gap: 1.5rem;
}

nav a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #4998ff;
}

.login{
    background: #006eff;
    color: white;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    gap: 20px;
}

.content-hero {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.kotak{
    display: grid;
    background: #0085d1;
    color: white;
    border-radius: 8px;
    width: 8rem;
    padding: 1rem;
    place-items: center;
}

.kotak h4 {
    margin: 0;
}

.lastmile-track {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    margin-top: 2rem;
}

.track {
    background: #f0f0f0;
    padding: 1rem;
    border-radius: 8px;
    width: 20rem;
    place-items: center;
}

.contact {
    padding: 5rem 2rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto  ;
    background-color: #fff;
}

.contact h2 {
    text-align: center;
    color: #001f4e;
    margin-bottom: 3rem;
}

.contact-form {
    display: flex;
    align-items: flex-start;
    gap: 5rem;
}

.contact-form img, 
.contact-form form {
    flex: 1; 
    min-width: 0;
}

.contact-form img {
    height: auto;
    object-fit: contain;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 1.5rem;
}

input, textarea {
    box-sizing: border-box;
    display: block;
    padding: 1rem;
    border: 1.5px solid #e0e0e0;
    border-radius: 8px;
    font-family: inherit;
    width: 100%;
    max-width: 100%;
}

.btn-submit {
    box-sizing: border-box;
    width: 100%;
    background: #006eff;
    color: white;
    font-weight: bold;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover {
    background-color: #004fb3;
    transform: translateY(-2px);
}

footer {
    background: #001f4e;
    color: #4998ff;
    font-weight: 500;
    text-align: center;
    padding: 1rem;
}

@media screen and (max-width: 480px) {

	.content-hero {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.kotak{
		width: 100%;
		box-sizing: border-box;
	}

	.contact {
		padding: 0;
	}

	.contact-form {
		flex-direction: column;
		gap: 2rem;
	}

	.contact-form img {
		width: 100%;
	}	
}

